<launch>

  <arg name="use_map_topic" default="true"/>
  <arg name="scan_topic" default="hokuyo" />
  <rosparam command="load" file="$(find p3at_description)/configs/robot_params.yaml"/>
  <rosparam command="load" file="$(find p3at_description)/configs/amcl_params.yaml" />
​
  <param name="use_sim_time" value="true"/>
  <node pkg="amcl" type="amcl" name="amcl">
    <param name="use_map_topic" value="$(arg use_map_topic)"/>
    <remap from="scan" to="$(arg scan_topic)"/>    
  </node>

</launch>