<launch>

<!-- Provide static map: Run the map_server node -->
<include file = "$(find p3at_description)/launch/provide_map.launch" />

<!-- Localization: Run amcl node -->
<include file = "$(find p3at_description)/launch/amcl.launch" />

<!-- Move the robot: Run move_base node -->
<include file = "$(find p3at_description)/launch/move_base.launch" />

</launch>